body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.auth-container input:focus {
  border-color: #6a11cb;
  outline: none;
}

.auth-container button {
  background-color: #6a11cb;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.auth-container button:hover {
  background-color: #2575fc;
}

.auth-link {
  margin-top: 1rem;
  color: #cab8de;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: underline;
}

.auth-link:hover {
  color: #2575fc;
}
