/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f7f7f8;
  overflow: hidden;
}

/* SCROLLBAR STYLE */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 10px;
}

body.dark {
  background: #1e1e1e;
}

.dark .sidebar {
  background: #2b2b2b;
  border-right: 1px solid #444;
}

.dark .session-item {
  background: #3a3a3a;
  color: white;
}

.dark .session-item.active {
  background: #2d6bb3;
}

.dark .chat-window {
  background: #1e1e1e;
}

.dark .bubble.bot {
  background: #2b2b2b;
  border: 1px solid #444;
  color: #fff;
}

.dark .bubble.user {
  background: #0066ff;
}

.dark .chat-input {
  background: #2b2b2b;
  border-top: 1px solid #444;
}

.dark input {
  background: #3a3a3a;
  color: white;
  border-color: #555;
}

.dark .new-chat-btn {
  background: #198f71;
}

.dark .logout-btn {
  background: #d13434;
}

.dark .msg-time {
  color: #bbb;
}
